/** canvas **/
.canvasContainer {
  width: 80vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.canvasContainer .canvasWrap {
  aspect-ratio: 16/9;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}